In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import math
import sklearn as sk
import numpy as np

In [2]:
filePath = "/Users/Gael/Documents/Jupyter/CAPE/CAPEData.csv"

with open(filePath, encoding="latin-1") as datafile:
    df = pd.read_csv(datafile)

In [3]:
df.sort_values('Average').iloc[:6]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>SessionCode</th>
      <th>SubjectCode</th>
      <th>CourseCode</th>
      <th>Instructor</th>
      <th>QuestionText</th>
      <th>Enrollment</th>
      <th>ResponseCount</th>
      <th>Average</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>63888</th>
      <td>SP13</td>
      <td>CHEM</td>
      <td>100A</td>
      <td>Williams, Renee T</td>
      <td>Do you recommend this professor overall?</td>
      <td>20</td>
      <td>14</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>577126</th>
      <td>FA17</td>
      <td>PHYS</td>
      <td>2BL</td>
      <td>Sharma, Vivek A.</td>
      <td>Do you recommend this [coursetype] overall?</td>
      <td>22</td>
      <td>4</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>275718</th>
      <td>SP15</td>
      <td>MAE</td>
      <td>5</td>
      <td>Gibson, Carl H.</td>
      <td>Do you recommend this [coursetype] overall?</td>
      <td>14</td>
      <td>4</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>157408</th>
      <td>WI14</td>
      <td>VIS</td>
      <td>111</td>
      <td>Park, Kyong Dong</td>
      <td>Do you recommend this professor overall?</td>
      <td>15</td>
      <td>4</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>394623</th>
      <td>SP16</td>
      <td>MATH</td>
      <td>183</td>
      <td>Wang, Xu</td>
      <td>Do you recommend this professor overall?</td>
      <td>15</td>
      <td>5</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>394625</th>
      <td>SP16</td>
      <td>MATH</td>
      <td>183</td>
      <td>Wang, Xu</td>
      <td>Do you recommend this professor overall?</td>
      <td>31</td>
      <td>7</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
#Temporary, we work on a smaller data frame for testing.
df = df.iloc[-1000:, :]
df = df.reset_index(drop=True)

In [5]:
# It's all clean !
df.isnull().sum()

SessionCode      0
SubjectCode      0
CourseCode       0
Instructor       0
QuestionText     0
Enrollment       0
ResponseCount    0
Average          0
dtype: int64

In [6]:
print(df.size)
df.iloc[-6:,:]

8000

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>SessionCode</th>
      <th>SubjectCode</th>
      <th>CourseCode</th>
      <th>Instructor</th>
      <th>QuestionText</th>
      <th>Enrollment</th>
      <th>ResponseCount</th>
      <th>Average</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>994</th>
      <td>FA17</td>
      <td>WCWP</td>
      <td>10A</td>
      <td>Gagnon, Jeffrey C</td>
      <td>Do you recommend this professor overall?</td>
      <td>14</td>
      <td>9</td>
      <td>0.666667</td>
    </tr>
    <tr>
      <th>995</th>
      <td>FA17</td>
      <td>WCWP</td>
      <td>10A</td>
      <td>Gagnon, Jeffrey C</td>
      <td>Do you recommend this professor overall?</td>
      <td>16</td>
      <td>6</td>
      <td>0.833333</td>
    </tr>
    <tr>
      <th>996</th>
      <td>FA17</td>
      <td>WCWP</td>
      <td>10A</td>
      <td>Gagnon, Jeffrey C</td>
      <td>Do you recommend this professor overall?</td>
      <td>15</td>
      <td>79</td>
      <td>0.759494</td>
    </tr>
    <tr>
      <th>997</th>
      <td>FA17</td>
      <td>WCWP</td>
      <td>10A</td>
      <td>Gagnon, Jeffrey C</td>
      <td>The instructor practiced effective teaching st...</td>
      <td>15</td>
      <td>57</td>
      <td>4.228070</td>
    </tr>
    <tr>
      <th>998</th>
      <td>FA17</td>
      <td>WCWP</td>
      <td>10A</td>
      <td>Gagnon, Jeffrey C</td>
      <td>The instructor practiced effective teaching st...</td>
      <td>16</td>
      <td>5</td>
      <td>4.400000</td>
    </tr>
    <tr>
      <th>999</th>
      <td>FA17</td>
      <td>WCWP</td>
      <td>10A</td>
      <td>Gagnon, Jeffrey C</td>
      <td>The instructor practiced effective teaching st...</td>
      <td>14</td>
      <td>6</td>
      <td>4.500000</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
# Group all course names into 1 column
df.insert(0,'Course',value=np.nan)
df['Course'] = df["SessionCode"] + " " + df["SubjectCode"] + " " + df["CourseCode"]
df = df.drop(["SessionCode", "SubjectCode", "CourseCode"], axis=1, inplace=False)

In [8]:
df.iloc[-6:,:]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Course</th>
      <th>Instructor</th>
      <th>QuestionText</th>
      <th>Enrollment</th>
      <th>ResponseCount</th>
      <th>Average</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>994</th>
      <td>FA17 WCWP 10A</td>
      <td>Gagnon, Jeffrey C</td>
      <td>Do you recommend this professor overall?</td>
      <td>14</td>
      <td>9</td>
      <td>0.666667</td>
    </tr>
    <tr>
      <th>995</th>
      <td>FA17 WCWP 10A</td>
      <td>Gagnon, Jeffrey C</td>
      <td>Do you recommend this professor overall?</td>
      <td>16</td>
      <td>6</td>
      <td>0.833333</td>
    </tr>
    <tr>
      <th>996</th>
      <td>FA17 WCWP 10A</td>
      <td>Gagnon, Jeffrey C</td>
      <td>Do you recommend this professor overall?</td>
      <td>15</td>
      <td>79</td>
      <td>0.759494</td>
    </tr>
    <tr>
      <th>997</th>
      <td>FA17 WCWP 10A</td>
      <td>Gagnon, Jeffrey C</td>
      <td>The instructor practiced effective teaching st...</td>
      <td>15</td>
      <td>57</td>
      <td>4.228070</td>
    </tr>
    <tr>
      <th>998</th>
      <td>FA17 WCWP 10A</td>
      <td>Gagnon, Jeffrey C</td>
      <td>The instructor practiced effective teaching st...</td>
      <td>16</td>
      <td>5</td>
      <td>4.400000</td>
    </tr>
    <tr>
      <th>999</th>
      <td>FA17 WCWP 10A</td>
      <td>Gagnon, Jeffrey C</td>
      <td>The instructor practiced effective teaching st...</td>
      <td>14</td>
      <td>6</td>
      <td>4.500000</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
# Could probably be a lot prettier (There is probably even a 1 line function that does this better)

# We want to group similar questions into 1 row

# Returns the instructor, course and question of the row
def rowinfo(rownum):
    return [df.iloc[rownum, 0], df.iloc[rownum, 1], df.iloc[rownum, 2]]

length = len(df)
index = -1
# If 2 or more consecutive rows have the same rowinfo, we group their responses
while index < length:
    index += 1
    if index % 100 == 0: print("Processing row %d out of %d \t (%.2f"%(index+1,length,(index/length)*100)+"%)")

    # Don't do anything if there is only one identical row (could be deleted but we want this to be fast)
    if index + 1 >= length or rowinfo(index) != rowinfo(index + 1): continue

    newEnrollment = df.iloc[index, 3]
    newResponseCount = df.iloc[index, 4]
    newAverage = df.iloc[index, 5] * newResponseCount
    numIdenticalRows = 1
    # Find the number of consecutive rows that are identical
    while index+numIdenticalRows < length and rowinfo(index) == rowinfo(index + numIdenticalRows) :
        newEnrollment += df.iloc[index + numIdenticalRows, 3]
        newResponseCount += df.iloc[index + numIdenticalRows, 4]
        newAverage += df.iloc[index + numIdenticalRows, 5] * df.iloc[index + numIdenticalRows, 4]
        numIdenticalRows += 1
    newAverage = newAverage / newResponseCount  

    # Create a new row and delete the old ones
    df.iloc[index, 3], df.iloc[index, 4], df.iloc[index, 5] = newEnrollment, newResponseCount, newAverage
    for i in range(index + 1, index + numIdenticalRows):
        df = df.drop(i)
    df = df.reset_index(drop=True)
    length = len(df)

Processing row 1 out of 1000 	 (0.00%)

Processing row 101 out of 958 	 (10.44%)

Processing row 201 out of 838 	 (23.87%)
Processing row 301 out of 807 	 (37.17%)

Processing row 401 out of 669 	 (59.79%)

Processing row 501 out of 596 	 (83.89%)

In [10]:
print(df.size)
df.iloc[-6:,:]

3324

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Course</th>
      <th>Instructor</th>
      <th>QuestionText</th>
      <th>Enrollment</th>
      <th>ResponseCount</th>
      <th>Average</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>548</th>
      <td>FA17 WCWP 10A</td>
      <td>Gagnon, Jeffrey C</td>
      <td>I learned a great deal from this [coursetype].</td>
      <td>45</td>
      <td>97</td>
      <td>3.309278</td>
    </tr>
    <tr>
      <th>549</th>
      <td>FA17 WCWP 10A</td>
      <td>Gagnon, Jeffrey C</td>
      <td>How many hours a week do you spend studying ou...</td>
      <td>45</td>
      <td>97</td>
      <td>5.551546</td>
    </tr>
    <tr>
      <th>550</th>
      <td>FA17 WCWP 10A</td>
      <td>Gagnon, Jeffrey C</td>
      <td>How often do you attend this course?</td>
      <td>45</td>
      <td>97</td>
      <td>3.000000</td>
    </tr>
    <tr>
      <th>551</th>
      <td>FA17 WCWP 10A</td>
      <td>Gagnon, Jeffrey C</td>
      <td>Do you recommend this [coursetype] overall?</td>
      <td>45</td>
      <td>96</td>
      <td>0.572917</td>
    </tr>
    <tr>
      <th>552</th>
      <td>FA17 WCWP 10A</td>
      <td>Gagnon, Jeffrey C</td>
      <td>Do you recommend this professor overall?</td>
      <td>45</td>
      <td>94</td>
      <td>0.755319</td>
    </tr>
    <tr>
      <th>553</th>
      <td>FA17 WCWP 10A</td>
      <td>Gagnon, Jeffrey C</td>
      <td>The instructor practiced effective teaching st...</td>
      <td>45</td>
      <td>68</td>
      <td>4.264706</td>
    </tr>
  </tbody>
</table>
</div>